<p>Hola, Buenas tardes,



Por medio de la presente le enviamos la dirección electrónica desde la cuál podrá descargar la ACTUALIZACIÓN del certificado por su participación en el "JINIS 2023". Considerar esta versión en reemplazo de la anterior:



Link Certificado



Atentamente



Escuela Profesional de Ingeniería de Sistemas

Universidad Católica de Santa María
</p>